FRONTEND_APP_URL=http://localhost:5173

DATABASE_URL=""
JWT_SECRET=""
PORT=3333

RESEND_EMAIL_FROM="Contratos <onboarding@resend.dev>"
RESEND_API_KEY=

WAPI_BASE_URL="https://api.w-api.app"
WAPI_TOKEN=""
WAPI_INSTANCE_ID=""